:root {
  --primary-color: black;
  --secondary-color: linen;
  }

*{
	font-family: Bembo;
	color: var(--primary-color);
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 24px;
	text-decoration-thickness: 1px !important;
	text-underline-offset: 3px !important;
	text-rendering: optimizeLegibility;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  scroll-behavior: smooth;
  background-color: none;
  word-spacing: -1px;
  max-width: 100vw;


}


body{
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: brown;

}

section{
	min-height: 100vh;
	
	padding: 1rem 0 10rem 0;
/*	background-color: brown;*/

}

.spread {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Links | Bund | Rechts */
  height: 100vh;
}

.left, .right {
  padding: 2rem;
  overflow-y: auto;
}

.gutter {
	position: fixed;
    display: flex;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;	
    z-index: -1;

}
.left-gutter{
	width: 50%;
  height: 100%;
  box-shadow: 0px 0 27px 0 black;
}

.right-gutter{
	width: 50%;
  height: 100%;
  box-shadow: 0px 0 27px 0 black;
}

h1,h2,h3,h4,h5,h6,p,li, hr{
	margin-left: 50vw;
	padding: 0 2rem 0rem 2rem;
}

p{
/*	position: relative;*/
	text-indent: 2rem;
	pointer-events: auto;
	z-index: 10;
}


p,li{
	padding-left: 2rem;
/*	list-style: none;*/
}

ul {
  list-style-type: none;
  padding-left: 0; 
}

ol {
  list-style-type: decimal; 
}


li > p{
	margin:0;
	padding: 0 2vw 0 0rem;
	text-indent: 0rem;
}

img{
	position: absolute;
	left: 3vw;
	filter: grayscale(100%);
	max-width: 43vw;
	max-height: 100vh;
/*	margin: 2rem 0 4rem 0;*/
	mix-blend-mode: multiply;
}

.pad-content{
/*	display: grid;*/
padding-top: 2rem;
column-count: 2;
	grid-template-columns: 1fr 1fr;
	max-width: 100vw;
	mix-blend-mode: multiply;
}

.pad-content > p > img,
.pad-content > :is(p, h2, h3, h4, h5, h6) {
	position: relative;
	display: block;
	padding: 0;
	margin: 0;
	text-indent: 2rem;
}

.pad-content > :is(h2,h3,h4) {
	column-span: all;
/*	padding-top: 1rem;*/
}


.pad-content > p > img{
	padding: 5px;
}






strong{
	font-weight: normal;
	letter-spacing: 5px;
}



h1, h1 > i, h1 > em{
	font-size: 4rem;
	text-align: center;
	letter-spacing: -1px;
	line-height: 1.1em;
}

h2, h2 > a{
	font-size: 2rem;
	padding-left: 2rem;
	line-height: .95em;
	padding-bottom: .25rem;
	text-decoration:none;
/*	text-align: center;*/
}

h2 > a{
	padding-left: 0rem !important;

}

h3{
	padding-top: .5rem;

}

h3,h4{
	font-weight: 600;
	text-transform: uppercase;
}



h4{
	text-transform: none;
}



.pagina{
	position: absolute;
	right: 2rem;
/*	padding: 1rem 4rem 0rem 27.5rem;*/
	font-weight: normal;
	text-align: center;
}

a.arrow{
	position: absolute;
	margin: -.35rem 0 0 0;
	left: 0;
	z-index: 9999;
	text-decoration: none;
	font-size: .8rem;
	padding: 10px;
	display: inline-block;
	pointer-events: auto;
/*	outline: 2px solid;*/
/*	background-color: none;*/
}



#title > h2, #title > p{
	text-align: center;
	padding-left: 2rem;
	text-indent: 0;
}


ol {
/*  list-style: none;  */
  padding-left: 0;
  margin-left: 0;
}

#intro{
	position: relative;
}

#index > ol li {
  position: relative;
  padding-left: 2em;
  list-style: none;
}

#index > ol li::before {
  content: counter(list-item) " ";
  position: absolute;
  right: 2em;
  text-align: right;
  width: 2em;  
}

blockquote, blockquote > p{
	font-style: italic;
	padding: 0 1rem 0rem 2rem;
	text-indent: -2rem;
}

.blankpage{
	height: 110vh;
}

.halfpage{
	height: 50vh;
}





